.blobWrapper {
  overflow: hidden;
}
.bg1 {
  top: -250px;
  right: -15%;
  left: unset;
  transform: unset;
}
.bg2 {
  left: 33%;
  top: -200px;
  transform: translateX(-50%);
}
.bg3 {
  left: 5%;
  top: 25%;
  transform: translateX(-50%);
}
.indexWrapper {
  min-height: 100vh;
} 