@import '/styles/variables.less';
@import '/styles/variables-css.less';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-color: var(--cloud);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: var(--text-color);
  margin-top: 0px;
  margin-bottom: 8px;
}

p {
  color: var(--text-color);
  margin: 0;
  line-height: 1.5em;
  font-size: 14px;
}

h1 {
  font-size: 42px;
}

h2 {
  margin: 8px 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 752px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 976px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
  

.subtitle {
  font-size: 16px;
}

.bolder {
  font-weight: 400
}

.bold {
  font-weight: 700;
}

.text-primary {
  color: var(--orange);
}

.centered {
  text-align: center;
}

.wrapper {
  background: #fff;
  padding: 13px 25px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  width: fit-content;
  cursor: pointer;
  transition: all .3s;
}

.link:hover {
  transition: all .3s;
  text-decoration: underline;
}