@import '/styles/variables.less';

:root {
  --font: @font-family;
  --primary-color: @primary-color;
  --secondary-color: @secondary-color;
  --link-color: @link-color;
  --text-color: @text-color;
  --title-color: @title-color;
  --off-white: @off-white;
  --label-color: @label-color;
  --placeholder-color: @placeholder-color;
  --border-color: @border-color;
  --icon-color: @icon-color;
  --border-radius-base: @border-radius-base;
  --box-shadow-base: @box-shadow-base;

  --screen-min-width-xxl: @screen-min-width-xxl;
  --screen-min-width-xl: @screen-min-width-xl;
  --screen-min-width-lg: @screen-min-width-lg;
  --screen-min-width-md: @screen-min-width-md;
  --screen-min-width-sm: @screen-min-width-sm;
}