:root {
  --cloud: #f3f7f9;
  --orange: #fd6542;
  --text-color: #333;
  --border-color: #f0f0f0;
  --btn-border: #d9d9d9;
  --btn-border-hover: #40a9ff;
  --font: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@primary-color: #04f;